services:
  db-postgres:
    image: postgres
    container_name: planex-db-postgres
    restart: always
    shm_size: 1024mb
    environment:
      POSTGRES_PASSWORD: ${APP_CONFIG__DB__PASS}
      POSTGRES_USER: ${APP_CONFIG__DB__USER}
      POSTGRES_DB: ${APP_CONFIG__DB__NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  app-backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: planex-app
    restart: always
    depends_on:
      - db-postgres
    ports:
      - "8000:8000"
    command: >
      sh -c "alembic upgrade head && python3 run.py"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: planex-frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - app-backend

volumes:
  postgres_data:
